pom.xml
pom.xml.asc
profiles.clj
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
/.lein-*
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
/.nrepl-port
.hgignore
.hg/
.idea
*.iml
.DS_Store